<h1>Create new entry via form</h1>

<%= form_for @task do |f| %>
  <%= f.text_field :title, placeholder: "Grocery shopping"%>
  <%= f.check_box :status %>
  <%= f.label "done?" %>
  <%= f.submit %>
<% end %>


<%= link_to 'Back to All Tasks', tasks_path %>
